{% extends 'base.html' %}

{% block body %}
<div class="row">
    <h1>{{ depute }}</h1>

    <h2>Votes</h2>

    <table>
    {% for vote in depute.vote_set.all %}
        <tr>
            <td>{{ vote.date }}</td>
            <td>
                <a href="{{ vote.scrutin.dossier.url }}">{{ vote.scrutin.dossier }}</a>
            </td>
            <td>
                <a href="{{ vote.scrutin.url }}">{{ vote.scrutin.objet }}</a>
            </td>
            <td>{{ vote.get_division_display }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
