{% load pipeline %}
{% load static from staticfiles %}
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="fr" > <![endif]-->
<html class="no-js" lang="fr">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block head_title %}Société Citoyenne: recherche publique dans le domaine politique et technologique{% endblock %}</title>
        {% stylesheet 'style' %}
        <style type="text/css">
            body {
                background-image: url({% static 'je-suis-charlie.png' %});
                background-repeat: no-repeat;
                background-position: bottom right;
                background-attachment: fixed;
            }
        </style>
    </head>
    <body>
        <nav class="top-bar" data-topbar role="navigation"> 
            <ul class="title-area"> 
                <li class="name"> 
                    <h1><a href="http://societecitoyenne.org">SocieteCitoyenne</a></h1> 
                </li> 
                <li class="toggle-topbar menu-icon">
                    <a href="#"><span>Menu</span></a>
                </li>
            </ul> 
            <section class="top-bar-section"> 
                <ul class="right">
                    <li class="has-form"> 
                        <div class="row collapse"> 
                            <div class="large-8 small-9 columns"> 
                                <input id="autocomplete" type="text" placeholder="Find Stuff">
                            </div> 
                            <div class="large-4 small-3 columns"> 
                                <a href="#" class="alert button expand">Search</a> 
                            </div> 
                        </div> 
                    </li>
                </ul> 
            </section> 
        </nav>

        {% block body %}
        <div class="row">
            <h1>SocieteCitoyenne.org</h1>
            <p>
                Ce site vous permet de consulter la liste des votes des
                députés, vous permettant ainsi d'orienter votre vote vers des
                députés qui vous représentent vraiment.
            </p>
            <h2>Circonscriptions législatives françaises</h2>
            <p>
                Les <a href="http://fr.wikipedia.org/wiki/Circonscriptions_l%C3%A9gislatives_fran%C3%A7aises">circonscriptions législatives françaises</a> sont des divisions de territoire dans lesquelles sont élus les députés de l'<a href="http://fr.wikipedia.org/wiki/Assembl%C3%A9e_nationale_(France)">Assemblée nationale</a>.
            </p>
            <h2>Recherche de député sur carte des circonscription</h2>
            <p>
                Le site de l'Assemblée nationnale propose un <a href="http://www.assemblee-nationale.fr/14/qui/circonscriptions/index.asp">système de recherche de député par carte de circonscription</a>.
            </p>
            <h2>Recherche de député</h2>
            <p> Vous pouvez consulter la <a href="{% url 'depute_depute_list' %}" title="Liste des députés">liste des députés</a> ou utiliser
                    l'outil de recherche situé au Nord-Est de la page pour
                    trouver l'historique des votes par dossier du député qui
                    vous interresse.
            </p>
            <h2>Logiciel libre</h2>
            <p>Parce que la technologie citoyenne est inestimable: tout est sur <a href="https://github.com/SocieteCitoyenne">GitHub pour SocieteCitoyenne</a>.
            </p>
        </div>
        {% endblock %}

        <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        {% include 'autocomplete_light/_ajax_csrf.html' %}
        {% javascript 'script' %}

        <script>
            $(document).foundation();
            var doc = document.documentElement;
            doc.setAttribute('data-useragent', navigator.userAgent);

            $('#autocomplete').yourlabsAutocomplete({
                url: '{% url 'autocomplete' %}',
                choiceSelector: '.choice',
            }).input.bind('selectChoice', function(e, choice, autocomplete) {
                window.location.href = choice.attr('href');
            });
        </script>
    </body>
</html>
